@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

@layer base {
    input:focus {
        outline: none !important;
        border: none !important; /* replace with your desired border style */
        border-color: transparent;
    }

    body {
        background: linear-gradient(
            315deg,
            rgb(255, 145, 27) 3%,
            rgb(93, 172, 255) 38%,
            rgb(128, 255, 242) 68%,
            rgb(241, 116, 255) 98%);
        animation: gradient 30s ease infinite;
        background-size: 400% 400%;
        background-attachment: fixed;
    }

}
